body{
    background: black;
}
.instagram {
    background: white;
    width: 700px;
    height: 700px;
    margin: auto;
}
 .instagram-header{
        display: flex;
        }
.instagram-header img{
        width: 40px;
        height: 40px;
     }
.logo{
    width: 25px;
    height: 25px;
    margin: 5px 15px 5px 10px;
}

h6{
    margin: 10px 0px 0px 20px;
}
.letra-logo{
    margin: 5px 0px 5px 20px;
    font-size: 120%;
}

.instagram-header h1{
        width: 710px;
        margin: 15px;
    }

.center {
      display: block;
      margin-left: auto;
     margin-right: auto;
     width: 100%;
} 

.icono-dot{
 position: relative; left: 520px;
 margin: 15px;
}


.botonera{
    height: 20px;
    width: auto;
    border: 0px;
    padding: 15px;
    display: flex;
    align-items: center;
    position:static;
    }
    .icono-heart{
        margin: 10px 5px 10px 10px;
    }
    .icono-comment{
        margin: 10px 5px 10px 5px;

    }
    .icono-plane{
        margin: 10px 10px 10px 5px;

    }
    .icono-save{
       margin: 0px 0px 0px 500px;
    }
    .likes{
        font-size: 120%;
        margin: 0px 10px 0px 10px;
    }
    .text{
        margin: 0px 10px 0px 10px;
    }
      